body{
    background-color: hsl(212, 45%, 89%);
}

.main{
    width: 250px;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 15px;
    border: solid hsl(0, 0%, 100%);
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);


}
img{

    width: 250px;
    border-radius: 10px;
}
.text{
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.f-weight-bold{
    font-weight: 700;
    font-size: 20px;
    
}
.f-weight{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}
